<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="home.html" />
                <add value="home.html" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <staticContent>
            <clientCache cacheControlMode="NoControl" />
        </staticContent>
    </system.webServer>
</configuration>
